body {
    font-family: Arial, sans-serif; /* Шрифт для всего документа */
    line-height: 1.6; /* Межстрочный интервал */
    margin: 20px; /* Отступы вокруг всего документа */
    background-color: #f9f9f9; /* Цвет фона */
}

h1 {
    color: #0011ff; /* Цвет заголовка h1 */
    text-align: center; /* Центрируем заголовок h1 */
}

h2 {
    color: #009940; /* Цвет заголовка h2 (синий) */
    margin-top: 30px; /* Отступ сверху для заголовков h2 */
    margin-bottom: 10px; /* Отступ снизу для заголовков h2 */
    text-align: center; /* Центрируем заголовки h2 */
}

p {
    color: #555; /* Цвет текста абзацев */
    margin-bottom: 15px; /* Отступ снизу для абзацев */
}

ul {
    margin-left: 20px; /* Отступ слева для списков */
    margin-bottom: 15px; /* Отступ снизу для списков */
}

li {
    margin-bottom: 10px; /* Отступ снизу для элементов списка */
}

b {
    color: #000000; /* Цвет для выделенного текста (жирный) */
}

i {
    color: #888; /* Цвет для курсивного текста */
}